{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
              <!-- form -->
              
            </div>
        </div>
    </div>
    <div id="web" class="container-fluid">
        <div id="form" class="row">
            <div class="col-md-12">
                <div>
                    <h3 id="intro">
                        Gallery is the best place to visit for the old memories
                    </h3>
                </div>
                <form action="{% url 'search' %}" method="get">
                    {%  csrf_token %}
                    <input id="q" name="q" class="form-control mr-sm-2" placeholder="Search by name,location or category. Eg: mukuru" type="text">
                    <button class="btn btn-outline-light" type="submit">Search <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="diplay" class="col-md-12">
               
              <!-- {% for i in binamin %}
              {{i.pic_type}}
              {% endfor %} -->
              <hr>
              {% for items in store %}
              <a href="{% url 'picture' items.pk %}"><img id="image" class="img-thumbnail"  src="{{ items.image.url }}" alt=""></a>
              
              {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}

<!-- {{ store.name}} -->